<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    <div class="header">
      <button id="menu" class="menu-button" tabindex="0" type="button" aria-label="Menu">
        <img src="assets/menu.svg"/>
      </button>
      <button id="settings" class="menu-button" tabindex="0" type="button" aria-label="Menu" style="float: right;">
        <img src="assets/settings.svg"/>
      </button>
    </div>
    <div id="mySidenav" class="sidenav">
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
    <div id="main-page">
      <div class="loading-overlay">
        <div class="loading">
          <span>Loading</span>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="row" style="position: relative;">
          <span class="MQText t1">Music Quiz</span>
      </div>
      <div id="quiz">
        <div id="playBtn" class="row" style="position: relative;">
          <img id="record" class="record mbtn" src="assets/record.svg">
          <img id="note" class="mnote mbtn" src="assets/eighth-note.png">
          <img id="play" class="mnote mbtn" style="margin-left: 2.5px;" src="assets/play.png">
        </div>
        <div id="mc">
          <div class="row answer-mc">
            <div class="col-2"></div>
            <div class="col-3 mc" id="mc1">
              <h6>Song Title</h6>
              <p>Artists</p>
            </div>
            <div class="col-2"></div>
            <div class="col-3 mc" id="mc2">
              <h6>Song Title</h6>
              <p>Artists</p>
            </div>
            <div class="col-2"></div>
          </div>
          <div class="row answer-mc">
            <div class="col-2"></div>
            <div class="col-3 mc" id="mc3">
              <h6>Song Title</h6>
              <p>Artists</p>
            </div>
            <div class="col-2"></div>
            <div class="col-3 mc" id="mc4">
              <h6>Song Title</h6>
              <p>Artists</p>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
        <div id="fr">
          <div class="row" style="position: relative">
            <div class="col-4"></div>
            <div class="col-4">
              <input id="fr-ans" type="text" placeholder="Enter in name of song or artist" autocomplete="off" />
              <label class="fr-label" for="fr-ans">[ Press Enter to Submit ]</label>
            </div>
            <div class="col-4"></div>
          </div>
        </div>
      </div>
      <div id="answer" class="row" style="position: relative;">
        <div class="track">
          <div class="t-container">
            <img src=""/>
            <h4></h4>
            <h5></h5>
          </div>
        </div>
      </div>
      <div id="play-again" class="row" style="position: relative;">
          <div class="p-a">
            <h3>Play Again</h3>
          </div>
      </div>
      <span class="version">v1.0.0</span>
    </div>
    <script src="scripts/record.js"></script>
    <script src="scripts/cookies.js"></script>
    <script>
      var mc = ["#mc1", "#mc2", "#mc3", "#mc4"];
      $( document ).ready(async function() {
        var nextTrackData;
        var currentTrack;
        var ansType = "#mc";
        if (getCookie("ansType") == "true") {
          ansType = "#fr";
        }
        $('.mbtn').css('opacity', '0.2');
        $('.mbtn').css('cursor', 'default');
        $('#mc').css('display', 'none');
        $('#fr').css('display', 'none');
        $('#answer').css('display', 'none');
        $('#play-again').css('display', 'none');
        document.getElementById("note").style.display = "none";
        $('#menu').on('click', function clickHandler(e) {
          e.preventDefault();
          $('#mySidenav').toggleClass('open');
          $('.header').toggleClass('open');
          $('#main-page').toggleClass('open');
        });
        $('#settings').on('click', function clickHandler(e) {
          e.preventDefault();
          window.location.href = 'http://localhost:8000/settings';
        });
        $("#fr-ans").focus(function(){
          $(".fr-label").css("display", "inline-block");
        });
        $("#fr-ans").focusout(function(){
          $(".fr-label").css("display", "none");
        });
        await fetch(`http://localhost:8000/getsong`, {
            method:'GET'
          }).then(res => {
            return res.json()
          })
          .then(json => {
            console.log(json);
            nextTrackData = json;
        });
        deleteFile(nextTrackData.path);
        $('.mc').on('click', function () {
          if (isPlaying) {
            if ($( this ).find("h6").html() == currentTrack.name) {
              alert("correct!");
            } else {
              alert("incorrect!");
            }
            stopped = true;
            stopSound();
            $('#mc').css('display', 'none');
            $('#quiz').css('display', 'none');
            $(".track").find(".t-container").find("img").attr("src", currentTrack.thumbnail);
            $(".track").find(".t-container").find("h4").html(currentTrack.name);
            $(".track").find(".t-container").find("h5").html(currentTrack.artists.join(", "));
            $('#answer').css('display', 'block');
            $('#play-again').css('display', 'block');
          }
        });
        $('#fr-ans').keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){
            if ($("#fr-ans").val() != "" && isPlaying) {
              if (checkFr($("#fr-ans").val(), currentTrack)) {
                alert("correct!");
              } else {
                alert("incorrect!");
              }
              stopped = true;
              stopSound();
              $('#fr-ans').val("");
              $('#fr').css('display', 'none');
              $('#quiz').css('display', 'none');
              $(".track").find(".t-container").find("img").attr("src", currentTrack.thumbnail);
              $(".track").find(".t-container").find("h4").html(currentTrack.name);
              $(".track").find(".t-container").find("h5").html(currentTrack.artists.join(", "));
              $('#answer').css('display', 'block');
              $('#play-again').css('display', 'block');
            }
          }
        });
        $('.mbtn').on('click', function clickHandler(e) {
          e.preventDefault();
          if (!isPlaying) {
            $('.loading-overlay').css('display', 'block');
            loadSound(getAudioContext(), nextTrackData, ansType);
            currentTrack = nextTrackData;
            mc = shuffle(mc);
            for (var i = 0; i < 4; i++) {
              if (i == 0) {
                $(mc[i]).find("h6").html(currentTrack.name);
                $(mc[i]).find("p").html(currentTrack.artists.join(", "));
              } else {
                $(mc[i]).find("h6").html(currentTrack.wrong[3-i].split(" - ")[0]);
                $(mc[i]).find("p").html(currentTrack.wrong[3-i].split(" - ")[1]);
              }
            }
            fetch(`http://localhost:8000/getsong`, {
              method:'GET'
            }).then(res => {
              return res.json()
            })
            .then(json => {
              console.log(json);
              nextTrackData = json;
              deleteFile(nextTrackData.path);
            });
          }
        });
        $('.mbtn').css('opacity', '1');
        $('.mbtn').css('cursor', 'pointer');
        init();
        const xhttp = new XMLHttpRequest();
        $('#play-again').on('click', function clickHandler(e) {
          $('#quiz').css('display', 'block');
          $('#mc').css('display', 'none');
          $('#answer').css('display', 'none');
          $('#play-again').css('display', 'none');
          document.getElementById("note").style.display = "none";
          $("#play").css("display", "block");
        });
      });
      function checkFr(val, currentTrack) {
        var count = 0;
        var trackSplit = currentTrack.name.toLowerCase().split(" ");
        var splitInp = val.toLowerCase().split(" ");
        for (var j = 0; j < currentTrack.artists.length; j++) {
          if (val.toLowerCase().includes(currentTrack.artists[j].toLowerCase())) {
            return true;
          }
        }
        for (var i = 0; i < splitInp.length; i++) {
          if (trackSplit.includes(splitInp[i])) {
            count++;
          }
        }
        if (count >= .66*trackSplit.length) {
          return true;
        }
        return false;
      }
    </script>
    <script>
      //sendURL("https://www.youtube.com/watch?v=8F2s8ivKXNY");
      function sendURL(URL) {
        window.location.href = `http://localhost:8000/mp3fetch?URL=${URL}`;
      }
    </script>
  </body>
</html>
